gui/linux/cockroach/cockroach filter=lfs diff=lfs merge=lfs -text
gui/macos/cockroach/cockroach filter=lfs diff=lfs merge=lfs -text
gui/windows/cockroach/cockroach.exe filter=lfs diff=lfs merge=lfs -text
